#{extends 'main.html' /}
#{set title:'Profile' /}
#{include 'nav.html' /}

<section class="ui segment">
  <h2 class="ui header">Welcome to your profile page ${user.firstName} ${user.lastName}!
      To change any of your profile information please click the boxes below!</h2>
    <h3 class="ui header">You are ${user.age} years of age</h3>
      <div class="ui three column grid segment">
        <div class="ui row">
          <div class="ui column form segment">
            <hr>
              <form action="/editprofile/changename" method="post">
                <h4 class="ui small bold red header">Change First Name</h4>
               	  <textarea class="ui field" name="newName"> </textarea>
                  <input class="ui red button" type="submit" name="submit" value="Change" />
              </form>
            <hr>
              <form action="/editprofile/changeSurname" method="post">
                <h5 class="ui small bold blue header">Change Surname</h5>
          	      <textarea class="ui field" name="newSurname"> </textarea>
                  <input class="ui blue button" type="submit" name="submit" value="Change" />
         	 </form>
            <hr>
              <form action="/editprofile/changeAge" method="post">
                <h6 class="ui small bold orange header">Change Your Age</h6>
          	      <textarea class="ui field" name="newAge"> </textarea>
                  <input class="ui orange button" type="submit" name="submit" value="Change" />
         	 </form>
          </div>
        </div>
      </div>
</section>