#{extends 'main.html' /}
 #{set title:'Welcome' /}

 <nav class="ui inverted red menu">
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>  
 </nav>

<section class="ui segment">
<h1>Welcome</h1>

<div class="ui two column grid">
  <div class="column">
    <i> Homer for president. </i><br>
    <i>Time for a change</i><br>
    Out with Boring Abamo.<br>
    Giving has never been so easy.<br>
    You may register <a href ="/signup">here</a> absolutely free of charge.<br>
    If already registered simply <a href ="/login">login</a>.<br>
    Then go to the Donation page give generously.<br>
  </div>
</div>
</section>