#{extends 'main.html' /} 
#{set title:'Report' /} 
#{include 'nav.html' /}

<section class="ui segment">
  <div class="ui raised segment">  
    <h4>List Donations</h4>   
    <table class="ui table segment">
      <thead>
        <tr>
          <th>Donors</th>
          <th>Amount($)</th>
          <th>Method donated</th>
          <th>Age</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
      #{list items:donations, as:'donation'}
        <tr>
          <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
          <td>${donation.received}</td>
          <td>${donation.methodDonated}</td>
          <td>${donation.from.age}</td>
          <td>${donation.from.state}</td>
          
        </tr>
      #{/list}
      </tbody>
    </table>   
  </div>
</section>