#{extends 'main.html' /}
#{set title:'Donation Request' /}

<!-- Story 4 - Nav bar will be included once User is logged in -->
<nav class="ui inverted red menu">
  #{if activePage=='home'} 
    <a class="ui item active" href="/index"></i>Logout</a>
  #{/if} #{else}
    <a class="ui item" href="/index"></i>Logout</a>
  #{/else}
  #{if activePage=='report'}
    <a class="ui active item" href="/report"></i>Report</a>
  #{/if} #{else}
    <a class="ui item" href="/report"></i>Report</a>
  #{/else}
   #{if activePage=='edit'}
    <a class="ui active item" href="/edit"></i>Edit Details</a>
  #{/if} #{else}
    <a class="ui item" href="/edit"></i>Edit Details</a>
  #{/else}
  #{if activePage=='donation'}
    <a class="ui active item" href="/donation"></i>Make a Donation</a>
  #{/if} #{else}
    <a class="ui item" href="/donation"></i>Make a Donation</a>
    #{/else}
</nav>