#{extends 'main.html' /}
#{set title:'Welcome to Abamo' /}

  <nav class="ui inverted red menu">
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>  
 </nav>

<p> <a href ="/signup">Sign Up</a> or <a href ="/login">Log In</a> to oust Abamo and elect Homer! </p>