#{extends 'main.html' /}
#{set title:'Login to donate to Abamo' /}

 <nav class="ui inverted red menu">
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>  
 </nav>

<section class="ui segment">
<form action="/authenticate" method="POST">
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <button type="submit" class="ui blue submit button">Login</button>
    </div>
  </div>
  </div>
</form>
</section>
<p>Not a member? Then you can sign up by clicking <a href ="/signup">here</a></p>