#{extends 'main.html' /}
#{set title:'Signup for Abamo' /}

 <nav class="ui inverted red menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui item" href="/login">Log In</a>  
 </nav>

<section class="ui segment">
<form class ="ui form" action="/register" method="POST">
<input type="checkbox" id = "usCitizen" name="user.usCitizen"> 
<label for="usCitizen">Tick to confirm you are a citizen of the USA</label>  
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Sign Up</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" name="user.firstName" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" name="user.lastName" type="text">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="user.email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input placeholder="Password" type="password" name="user.password">
      </div>
       <!-- Fields to be filled in (Age & State) per story 1-->
      <div class="two fields">
        <div class="field">
          <label>Age</label>
          <input placeholder="Age" name="user.age" type="text">
        </div>
      <!-- New fields added to signup page as per story 5-->
        <div class="field">
          <label>Address Line 1</label>
          <input placeholder="Address Line 1" name="user.address1" type="text">
        </div>
        <div class="field">
          <label>Address Line 2</label>
          <input placeholder="Address Line 2" name="user.address2" type="text">
        </div>
        <div class="field">
          <label>City</label>
          <input placeholder="City" name="user.city" type="text">
        </div>
        <div class="field">
          <label>Zip Code</label>
          <input placeholder="Zip Code" name="user.zip" type="text">
        </div>
        <div class="field">
          <label>State</label>
          <input placeholder="State" name="user.state" type="text">
        </div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id="conditions" type="checkbox">
          <label for="conditions">I agree to the terms and conditions</label>
        </div>
      </div>
      <div class="ui blue submit button">Donate <i class="add icon"></i></div>
    <div class="ui error message"></div>
    </div>
  </div>

  <div class="column">
  
  
  
        <div class="ui selection dropdown">
          <input name="candName" type="hidden">
          <div class="default text">Candidate</div>
          <i class="dropdown icon"></i>
          <div class="menu">
           #{list items:candidates, as:'candidate'}
            <div class="item" data-value="${candidate.id}" > 
              ${candidate.candName} (${candidate.candAge})
            </div>
          #{/list}
           </div>
        </div>
  </div>
</div>
<script src="@{'/public/javascripts/candidate.js'}"></script>
</form>
</section>